style
    include ../../public/css/categories.css
div#show_categories
    span Выберите категорию
    i.fa.fa-caret-down
div#categories
script.
    var all_categories = !{JSON.stringify(categories)}

