script(src='../libs/jquery/dist/jquery.js')
script(src='../js/cookie.js')
script(src='../js/config.js')
script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
script(src='../libs/alertify/alertify.js')
script(src='../js/loadCompany.js')