div(id="template")
    md-button.choose.md-raised(ng-click="getStats('month',$event)") Месяц
    md-button.choose(ng-click="getStats('week',$event)") Неделя
    md-button.choose(ng-click="getStats('today',$event)") Сегодня
    md-button.choose(ng-click="getStats('yesterday',$event)") Вчера
    br
    md-datepicker(ng-model='start',ng-change="updateAll()")
    md-datepicker(ng-model='end', ng-change="updateAll()")