style
    include  ../../public/css/sidebar.css
md-sidenav.site-sidenav.md-whiteframe-4dp.menu(md-is-locked-open='true',flex='20')
    md-list
        md-list-item
            md-button(href="/company")
                md-icon.icon(md-font-icon='fa fa-home')
                |                   Домашняя страница
        md-list-item
            md-button
                md-icon.icon(md-font-icon='fa fa-file')
                |                   Акции
        md-list-item
            md-button
                md-icon.icon(md-font-icon='fa fa-bar-chart')
                |                   Статистика