doctype html
html(lang='en',ng-app='app')
    head
        include  includes/common_styles
        block additional_styles
    body
        block content
        include includes/common_scripts
        block additional_scripts






