doctype html
html(lang='en',ng-app='stockApp',style="background-color: #edeee9 !important")
    head
        include  includes/common_styles
        block additional_styles
    body
        block content
        include includes/common_scripts
        block additional_scripts






