doctype html
html(lang='en', ng-app='app', xmlns:date='http://www.w3.org/1999/xhtml')
    head
        meta(charset='UTF-8')
        title #{stock.name}
        link(rel="stylesheet", href="../css/stock.css")
        link(rel='stylesheet', href='../libs/jquery-ui/themes/smoothness/jquery-ui.min.css')
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src='../libs/jquery-ui/jquery-ui.min.js')
        link(rel='stylesheet', href='../css/fonts.css')
        link(rel='stylesheet', href='../css/font-awesome.css')
        link(rel='stylesheet', href='../libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='../libs/fancybox/source/jquery.fancybox.css')
        link(rel='stylesheet', href='../libs/alertify/alertify.min.css')
    body
        script.
            $(function () {
                $(".date").datepicker();
            });
        .stock(ng-controller='Stock',ng-init="stock= #{JSON.stringify(stock)}")
            h3 Акция '{{stock.name}}'
            ul.nav.nav-tabs
                li.active
                    a(data-toggle='tab', href='#edit') Редактирование
                li
                    a(data-toggle='tab', href='#graphics') Статистика
            .tab-content
                #edit.tab-pane.fade.in.active
                    form#edit_stock(enctype='multipart/form-data')
                        input(class="form-control", value='{{stock.name}}', name="name")
                        textarea(class="form-control", name="description") {{stock.description}}
                        .img_wrapper
                            img(src="http://ec2-54-200-218-253.us-west-2.compute.amazonaws.com:8080{{stock.logo}}", alt="logo")
                        a.fancybox(href="http://ec2-54-200-218-253.us-west-2.compute.amazonaws.com:8080{{stock.logo}}") Посмотреть текущее изображение в полном размере
                        input.form-control(type="file", name="logo")
                        input.form-control.date(name="endDate", value='{{stock.endDate | date:"MM/dd/yyyy"}}')
                        input(type="hidden", value="{{stock.id}}", name="id")
                        .button_wrapper
                            button.btn.btn-success.form-control(type="submit", ng-click="editStock()") Сохранить
                #graphics.tab-pane.fade
                    #charts
        script(src='../libs/Chart.js/Chart.js')
        script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='../libs/fancybox/source/jquery.fancybox.js')
        script(src='../libs/fancybox/source/jquery.fancybox.pack.js')
        script(src='../libs/angular/angular.min.js')
        script(src='../js/config.js')
        script(src='../js/cookie.js')
        script(src='../js/controllers/stock.js')
        script(src='../libs/alertify/alertify.js')
        script(src='../js/Error.js')
        script(src="../js/Stats.js")
        script(src="../js/Visualizer.js")
        script.
            var statistics = !{JSON.stringify(stats)}
            $("#graphics").css("display", "block");
            var statist = Stats.getByType(statistics);
            var Graphic = Visualizer.getByType(statistics.type);
            new Graphic(statist).createCanvas(600,200,"Количество добавлений этой акции пользователями по дням").appendTo('charts');

