extends _layout
block additional_styles
    title Подтверждение регистрации
    link(rel='stylesheet', href='../css/main.css')
block content
        .container
            .row
                .verify
                    img(src='../img/sign_verify.png', alt='sign')
                    h2 Поздравляем, Ваш аккаунт активирован!
                    h4 Чтобы перейти к интерфейсу, нажмите на кнопку
                    a#continue.button(href="/company") Продолжить
block additional_scripts
    script(src='../js/controllers/auth.js')



