form ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0 ;
}

form li {
    cursor: pointer;
    transition: all .5s ease;
}
form li a {
    text-decoration: none;
    transition: all .2s ease;
    color: #000000;
    font-size: 15px;
}

form li a:hover {
    text-decoration: none
}

form li:before {
    content: "\f0da";
    font-family: FontAwesome;
    padding-right: 5px ;
}
form li.last:hover a {
    background-color: green;
}

form li.last:before {
    content: '';
}

form li>ul {
    display: none;
}
#categories {
    display: none;
    margin-bottom: 10px;
}
#show_categories {
    text-align: left;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    padding: 4px;
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
 #show_categories  i {
    float: right;
    line-height: 25px;
}