.menu {
    background-color: #fff;
    position: fixed !important;
    margin-top: 64px;
}
.menu .md-button.point {
    width: 100%;
    text-align: left;
    height: 55px;
    line-height: 55px;
    font-size: 13px;
    font-weight: bold;
}
.menu .md-button.point:hover,.menu .md-button.point:active, .menu .md-button.point:visited {
    color: #000000;
}
.menu .md-button.point .icon {
    font-size: 30px;
    margin-right: 30px;
    width: 25px;
}
.filter {
    margin:0 10px;
}
.filter p{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.filter md-input-container  {
    font-size: 12px;
    margin: 0;
}

.filter md-input-container label {
    font-size: 12px;
}

.md-datepicker-input-container {
    width: 122px !important
}